include docs/Changelog.rst
include CONTRIBUTORS CONTRIBUTING.md
include LICENSE
include README.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include es_client *
recursive-exclude es_client *.pyc
recursive-exclude es_client *.pyo
recursive-include test *
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude test *.pyc
recursive-exclude test *.pyo
prune docs/_build
